:root{
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;
}

body {
    margin: 0;
}

.navbar {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
}

.

.navbar__menu{
    display: flex;
    padding-left: 0;
    /*flex-grow: 1;*/
}

.navbar__menu li {
    list-style: none;
    padding: 8px 24px;

}

.navbar__menu li a{
    text-decoration: none;
    color: var(--text-color);
}